body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background-color: black;
    color: #FFF;
}

b {
    font-weight: 900;
}

.mediumgraph {
    width: 50%;
    float:left;
}

.smallgraph {
    width: 25%;
    float:left;
}

.outline {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
}

#tooltip {
    font-size: 10pt;
    font-weight: 900;

    fill: #000000;
    stroke: #ffffff;
    stroke-width: 0.25px;
}

.node {
    stroke: #ffffff;
    stroke-weight: 1px;
}

.link {
    fill: none;
    stroke: #FF0000;
    stroke-weight: 1px;
    stroke-opacity: 0.5;
}

.highlight {
    stroke: red;
    stroke-weight: 4px;
    stroke-opacity: 1.0;
}

.datadotsmall {
    fill: red;
}

.datadotlarge {
    fill: white;
    opacity: 0.6;
}

.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

svg text {
    fill: #FFF;
}